///////////////////////////
//// layout / patterns ////
///////////////////////////

.l-grid {
  @include cf();
  list-style: none;

  & > li {
    float: left;
  }
}

.l-spread {
  display: table;
  width: 100%;
  table-layout: fixed;

  & > li {
    display: table-cell;
  }
}

.l-pull-left {
  float: left;
}

.l-pull-right {
  float: right;
}
