/**
 * _patterns.scss
 **/

.l-spread {
  display: table;
  width: 100%;
  table-layout: fixed;

  & > * {
    display: table-cell;
  }
}

.l-v-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}